<nav class="navigation">
    <div class="navigation-container">
        <a href="{{ path('front.index') }}" class="navigation__logo">
            <span>E</span>
            <span class="navigation-logo__letter--right">H</span>
        </a>
        <ul class="navigation__menu">
            {% if locale is defined and locale == 'tr-TR' %}
                <li class="navigation-menu__item">
                    <a href="turkish.html" class="navigation-menu__link selected" title="Ana sayfa">
                        Ana sayfa
                    </a>
                </li>
            {% else %}
            <li class="navigation-menu__item">
                <a href="{{ path('front.index') }}" class="navigation-menu__link{% if navItem == 'home' %} selected{% endif %}" title="Accueil">
                    Accueil
                </a>
            </li>
            <li class="navigation-menu__item">
                <a href="{{ path('front.about') }}" class="navigation-menu__link{% if navItem == 'praticien' %} selected{% endif %}" title="Votre praticien">
                    Votre praticien
                </a>
            </li>
            <li class="navigation-menu__item">
                <a href="{{ path('front.consultation') }}" class="navigation-menu__link{% if navItem == 'consultation' %} selected{% endif %}" title="La consultation">
                    La consultation
                </a>
            </li>
            {% endif %}
        </ul>
        <ul class="navigation__flags">
            <li class="navigation-flags__item">
                <a href="{{ path('front.index') }}">
                    <img src="images/flag-france.png">
                </a>
            </li>
            <li class="navigation-flags__item">
                <a href="{{ path('front.turkish') }}">
                    <img src="images/flag-turkey.png">
                </a>
            </li>
        </ul>
    </div>
</nav>
