<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% set defaultDescription = 'Emine Hakan effectue des consultations à son cabinet à Montfermeil (93370). Elle prend également en charge des urgences ostéopathiques à domicile et effectue des interventions en entreprise.' %}
    {% set defaultImage = 'http://www.cabinet-eminehkn.com/images/about.jpg' %}

    <meta name="description" content="{{ metaDescription ? metaDescription : defaultDescription }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.cabinet-eminehkn.com/{{ slug }}">
    <meta property="og:title" content="{{ title }}Emine Hakan - Ostéopathe D.O à Montfermeil">
    <meta property="og:description" content="{{ metaDescription ? metaDescription : defaultDescription }}">
    <meta property="og:image" content="{{ metaImage ? metaImage : defaultImage }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}Emine Hakan - Ostéopathe D.O à Montfermeil">
    <meta name="twitter:description" content="{{ metaDescription ? metaDescription : defaultDescription }}">
    <meta name="twitter:image" content="{{ metaImage ? metaImage : defaultImage }}">

    {% block canonicalLink %}
    {% endblock %}

    <link rel="icon" type="image/png" href="images/favicon.png">

    <title>{{ title }}Emine Hakan - Ostéopathe D.O à Montfermeil</title>

    {% block stylesheets %}{% endblock %}

    <script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Emine Hakan - Ostéopathe D.O à Montfermeil",
        "image" : "{{ defaultImage }}",
        "telephone" : "01 72 51 83 53",
        "address" : {
            "@type" : "PostalAddress",
            "streetAddress" : "15 rue du Chalet",
            "addressLocality" : "Montfermeil",
            "postalCode" : "93370"
        }
    }
    </script>
    {% block jsonld %}
    {% endblock %}

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-89619042-1', 'auto');
          ga('send', 'pageview');
    </script>
</head>
<body>

        {% include 'partials/_navigation.html.twig' %}
        {% include 'partials/_header.html.twig' %}

        <div id="container">
            {% block content %} {% endblock %}
        </div>

        {% include 'partials/_footer.html.twig' %}
    </div>

    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        if (window.navigator.userAgent.match(/Mobi/i)) {
            var links = document.querySelectorAll('.l-phone-link');
            for (i = 0; i < links.length; ++i) {
                links[i].classList.add('l-phone-link--mobile');
            }
        }
    </script>
</body>
</html>
