{% extends "layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <a href="{{ path('default.index') }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil
    </a>
    <h2>
        {{ title }}
    </h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(articleForm, { 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                {{ form_label(articleForm.title, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-6">
                    {{ form_errors(articleForm.title) }}
                    {{ form_widget(articleForm.title, { 'attr':  {
                        'class': 'form-control'
                    }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(articleForm.description, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-6">
                    {{ form_errors(articleForm.description) }}
                    {{ form_widget(articleForm.description, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control'
                    }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(articleForm.image_url, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-6">
                    {{ form_errors(articleForm.image_url) }}
                    {{ form_widget(articleForm.image_url, { 'attr':  {
                        'class': 'form-control'
                    }}) }}
                    {% if article is defined %}
                        <img src="{{ article.imageUrl }}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(articleForm.url, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-6">
                    {{ form_errors(articleForm.url) }}
                    {{ form_widget(articleForm.url, { 'attr':  {
                        'class': 'form-control'
                    }}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-3">
                    <input type="submit" class="btn btn-primary" value="{{ submit }}" />
                </div>
            </div>
        {{ form_end(articleForm) }}
    </div>
{% endblock %}
