<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="{{ app.request.basepath }}/stylesheets/bootstrap.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Admin</title>
</head>
<body>
    <div class="container">
        <header class="page-header">
            <p>
                <a href={{ path('home') }}>
                    <img src="{{ app.request.basepath }}/images/logo.png">
                </a>
            </p>
            <h2 class="text-primary">Emine Hakan - Ostéopathe D.O.<br><small>Gestion des articles</small></h2>
        </header>

        {% block content %}{% endblock %}


        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        <hr>

        <div class="panel">
            <div class="panel-footer">
                Vous êtes connecté en tant que {{ app.user.username }} - <a href="{{ path('logout') }}">Se déconnecter</a>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
